#choice .titleBar h2{
	width:50%;
}
#choice .titleBar h2 strong{
	font-size:14px;
	color:#4d4c4c;
}
#choice .choice-sR .titleBar-icon,.choice-xRs .titleBar-icon,.choice-xRx .titleBar-icon{ 
	display: none;
}
#choice .choice-whoie{
	width:978px;
	margin:0 auto;
}
#choice .choice-s{
	width:978px;
	overflow:hidden;
}
#choice .choice-sLs .circle-con{
	height:150px;
}
#choice .choice-x .choice-xLs .circle-con a img{
	float:left;
}
#choice .choice-sLs{
	width:702px;
	height:186px;
	float:left;
}
#choice .circle-con{
	overflow:hidden;
	background:none;
}
#choice .choice-sLs .circle-con p{
	line-height:26px;
	font-size:13px;
	height:104px;
	color:#8d8d8d;
	width:528px;
	float:left;
	padding-top:10px;
	text-indent:29px;
	margin-left:15px;
	word-spacing:1px;
	overflow:hidden;
	_display:inline;
}
#choice .choice-sLs .circle-con .choice-sLs-zi{
	font-size:12px;
	color:#b84040;
	float:left;
	margin-left:13px;
	text-decoration:underline;
	_display:inline;
}
#choice .choice-sLs .circle-con .choice-sLs-tu{
	float:right;
	margin:14px 17px 0 0;
	_display:inline;
}
#choice .choice-sR{
	float:right;
	width:260px;height:429px;
}
#choice .choice-s .choice-sLx .circle-con{
	height:192px;
}
#choice .choice-sLx{
	width:702px;
	margin-top:15px;
	float:left;
	height:228px;
}
#choice .choice-sLx .circle-con .circle-conT{
	float:left;
	margin:13px 0 13px 14px;
	_display:inline;
}
#choice .choice-sLx .circle-con ol{
	width:336px;
	height:175px;
	font-size:13px;
	line-height:35px;
	float:right;
	margin:11px 19px 0 0;
	_display:inline;
}
#choice .choice-sLx .circle-con ol li{
	float:left;
	width:330px;
	background:url(../images/dian.gif) 0 0 repeat-x;
}
#choice .choice-sLx .circle-con ol .circle-conTl{
	background:none;
}
#choice .choice-sLx .circle-con ol li a{
	color:#838383;
	margin-left:0;
	overflow:hidden;
}
#choice .choice-sLx .circle-con ol li a:hover{
	color:#ff6511;
	text-decoration:none;
}
#choice .choice-x{
	width:978px;
	overflow:hidden;
	margin:15px 0 20px 0;
}
#choice .choice-xLs{
	width:702px;
	float:left; 
	overflow:hidden;
	_display:inline;
}
#choice .choice-xLs .circle-con{
	height:382px; 
	padding:6px 6px 0 17px; 
}
#choice .practice-sLx-left{
	width:500px; 
	float:left;
	overflow:hidden; 
	margin-top:10px;
	float:left;
}
#choice .practice-sLx-left span{
	color:#989898; 
	margin-top:6px;
	width:40%;;
	float:left;
	font-size:13px;
}
#choice .practice-sLx-right{
	width:168px;
	overflow:hidden; 
	float:right; 
}
#choice .choice-xLs .circle-con .practice-sLx-right a{
	margin-top:9px;overflow:hidden; 
	float:left;
}
#choice .choice-xLs .circle-con .practice-sLx-right .pnPage{
	margin:0;
}
#choice .choice-xLx .circle-con{
	width:700px;
	height:183px;
}
#choice .circle-conxx{
	width:223px;
	height:183px;
	float:left;
	border-right:1px dotted #dedede;
}
#choice .choice-xLx .circle-conxx h3{
	padding-right:10px;
}
#choice .choice-xLx .circle-conxx p{
	padding-right:10px;
}
#choice .circle-conxc{
	width:223px;
	height:183px;
	float:left;
	border-right:1px dotted #dedede;
}
#choice .choice-xLx .circle-conxc h3{
	padding-left:10px;
}
#choice .choice-xLx .circle-conxc p{
	padding-left:10px;
}
#choice .choice-xLx .circle-conxl{
	width:223px;
	height:183px;
	float:left;
	margin:0 auto;
}
#choice .choice-xLx .circle-conxl h3{
	margin-left:18px;
}
#choice .choice-xLx .circle-conxl p{
	margin-left:15px;
}
#choice .choice-xLx .circle-conxx p,.circle-conxl p,.circle-conxc p{
	width:206px;
	height:96px;
	line-height:24px;
	font-size:12px;
	overflow:hidden;
	color:#b0b0b0;
	margin:0 auto;
	text-indent:2em;
}
#choice .choice-xLx .circle-conxx h3,.circle-conxl h3,.circle-conxc h3{
	height:60px;
	line-height:30px;
	width:206px;
	font-size:14px;
	margin:0 auto;
	color:#616161;
	overflow:hidden;
}
#choice .choice-xRs{
	float:right;
	width:260px;
	height:429px;
}
#choice .choice-xLx{
	width:702px;
	margin-top:15px;
	float:left;
}
#choice .circle-conxx a{
	width:206px;
	line-height:12px;
	color:#b84040;
	text-decoration:underline;
}
#choice .circle-conxc a,.circle-conxl a{
	width:206px;
	padding-left:10px;
	line-height:12px;
	color:#b84040;
	text-decoration:underline;
}
#choice .choice-xRx{
	width:260px;
	height:218px;
	margin-top:15px;
	float:right;
}
#choice .circle-con-all{
	width:674px;
	margin:0 auto;
}
#choice .pnPage{
	margin-top:21px;
}