#j_ema .j_ema-content{
	width:980px;
	margin:0 auto;
	padding-bottom:15px;
}
#j_ema .j_ema-block1{
	margin-top:5px;
}
#j_ema .j_ema-b1-word1{
	width:260px;
	font-size:16px;
	color:#fe7d32;
	text-indent:15px;
	margin:0 auto;
	margin-top:30px;
}
#j_ema .j_ema-b1-word2{
	width:440px;
	font-size:12px;
	color:#808080;
	margin:0 auto;
	margin-bottom:30px;
}
#j_ema .j_ema-b1-word2 span{
	margin-left:10px;
}
#j_ema .j_ema-b1-word3{
	width:260px;
	font-size:16px;
	color:#fe7d32;
	margin:30px 0 0 30px;
}
#j_ema .j_ema-block1 p{
	font-size:14px;
	color:#535351;
	line-height:30px;
	text-indent:2em;
	width:900px;
	margin:0 auto;
	margin-bottom:30px;
}
#j_ema .j_ema-b1-img{
	width:475px;
	height:318px;
	margin:0 auto;
	padding-top:30px;
}