#p_pa .p_pa-content{
	width:980px;
	margin:0 auto;
}
#p_pa .p_pa-block1{
	margin-top:5px;
}
#p_pa .p_pa-b1-word1{
	width:430px;
	font-size:16px;
	color:#535351;
	margin:0 auto;
	margin-top:30px;
}
#p_pa .p_pa-b1-word2{
	width:300px;
	font-size:12px;
	color:#808080;
	margin:0 auto;
	margin-bottom:30px;
}
#p_pa .p_pa-block1 p{
	font-size:14px;
	color:#535351;
	line-height:25px;
	text-indent:40px;
	width:900px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
#p_pa .p_pa-b1-img{
	width:475px;
	height:318px;
	margin:0 auto;
}