#practice .practice-whole{
	width:978px; 
	margin:0 auto; 
	}
 #practice .practice-s{
	width:978px; 
	overflow:hidden; 
	}
 #practice .practice-sLs{
	width:702px;
	height:178px; 
	float:left; 
	}
 #practice .practice-sLs .circle-con{
	height:134px; 
	padding-top:8px; 
	background:none;
	}
 #practice .practice-sLs-left{
	float:left; 
	overflow:hidden; 
	margin-top:40px; 
	}
 #practice .practice-sLs-centre{
	float:left; 
	margin:0 auto; 
	width:640px; 
	height:130px; 
	}
 #practice .practice-sLs-centre a{
	color:#797979;
	text-decoration:none;
 }
 #practice .practice-sLs-centre div{
	float:left;
	overflow:hidden;
	margin:0 10px;
	_display:inline; 
	}
 #practice .practice-sLs-right{
	float:right; 
	overflow:hidden;
	margin-top:40px;
	}
 #practice .practice-sRs{
	width:260px; 
	float:right;
	height:178px; 
	}
 #practice .practice-sRs .circle-con{
	height:142px; 
	}
 #practice .practice-sLx{
	width:702px;
	height:429px; 
	float:left; 
	margin-top:15px; 
	}
 #practice .practice-sLx .circle-con{
	height:387px; 
	padding:6px 6px 0 17px; 
	background:none;
	}
 #practice .practice-sLx-left{
	width:500px; 
	float:left;
	margin-top:10px;
	overflow:hidden; 
	}
 #practice .practice-sLx-left a{
	color:#989898; 
	font-size:13px; 
	text-decoration:none;
	}
 #practice .practice-sLx-right{
	width:168px;
	overflow:hidden; 
	float:right; 
	}
#practice .practice-sLx .circle-con .practice-sLx-right a{
	margin-top:9px;overflow:hidden; 
	float:left;
	height:106px;
}
 #practice .practice-sRc{
	float:right;
	width:260px;
	height:212px; 
	margin-top:15px; 
	}
 #practice .practice-sRc .circle-con{
	height:176px; 
	background:none;
	}
 #practice .practice-sRx{
	float:right;
	width:260px;
	height:202px; 
	margin-top:15px; 
	}
 #practice .practice-sRx .circle-con{
	height:166px; 
	background:none;
}
 #practice .practice-sRx .circle-con .pic{
	height:116px; 
}
 #practice .practice-x{
	width:978px; 
	overflow:hidden; 
	zoom:1;
	margin:15px 0 30px 0; 
}
#practice .job-left-musings{
	float:left; 
	margin-top:0;
	background-color:white;
}
#practice .practice-x .job-left-musings .circle-con{
	background:none;
}
#practice .practice-x .job-left-musings .circle-con a{
	color:#b94444;
	zoom:1;
	text-decoration:underline;
	float:left;
}
 #practice .job-left-musings dl{
	overflow:hidden; 
	zoom:1;
	padding-top:8px; 
	background:url(../images/teacher/teacherbj.gif) 0 bottom repeat-x; 
}
 #practice .job-left-musings dt{
	float:left; 
	margin-left:17px; 
	}
 #practice .job-left-major{
	height:57px; 
	overflow:hidden; 
	line-height:20px; 
	}
 #practice .job-left-name{
	font-size:12px; 
	}
 #practice .job-left-musings .job-left-dl-te{
	background:none; 
	}
 #practice .job-left-musings dd{
	color:#6e6e6e; 
	width:507px; 
	float:left; 
	margin-left:18px; 
	display:inline; 
	}
 #practice .job-left-musings .circle{
	width:702px; 
	}
 #practice .job-left-musings .circle-con dl{
	padding-top:6px; 
	}
#practice .practice-xR{
	width:260px; 
	height:492px; 
	float:right; 
	}
 #practice .practice-xR .circle-con{
	height:456px; 
}
