	
#r_epa	.r_epa-all{
		width:100%
		padding-top:13px;
	}
#r_epa	.r_epa-top{
		margin:0 auto;
		width:975px;
	}
#r_epa	.r_epa-con{
		width:907px;
		margin:0 auto;
		border-left:1px solid #e3e3e3;
		border-right:1px solid #e3e3e3;
		border-top:none;
		padding:18px 33px 0 33px;
		background-color:#f7fafb;
	}
#r_epa	.r_epa-c-h3{
		font-size:16px;
		color:#FC9C64;
		margin-bottom:5px
	}
#r_epa	.r_epa-c-P{
		font-size:14px;
		text-indent:40px;
		line-height:28px;
		margin-bottom:28px;
		color: #5D5D5D;
	}
#r_epa	.r_epa-step-a{
		float:left;
		width:93px;
		height: 40px;
		background:url(../images/r_epa-step.gif) no-repeat 0 0;
		text-align: center;
	}
#r_epa	.r_epa-step-a span{
		width:92px;
		height:40px;
		color: #F9F9F9;
		font-size:14px;
		line-height:40px;
	}
#r_epa	.r_epa-step{
		background-color:#ffffff;
		font-size:14px;
		line-height:28px;
		color:#5D5D5D;
		width:907px;
		background:url(../images/r_epa-xia.gif) 38px bottom no-repeat;
		overflow: hidden;
		margin-bottom:23px;
	}
#r_epa	.r_epa-step1{
		
		font-size:14px;
		line-height:28px;
		color:#5D5D5D;
		width:907px;
		overflow: hidden;
		margin-bottom:23px;
	}

#r_epa	.r_epa-step .circle{
		width:783px;
		float: left;
		margin-left:30px;
		display:inline;
	}
	#r_epa	.r_epa-step1 .circle{
		width:783px;
		float: left;
		margin-left:30px;
		display:inline;
	}
#r_epa	.r_epa-step .circle-con{
		background-color:#ffffff;
		padding: 10px 15px 10px;
	}
	#r_epa	.r_epa-step1 .circle-con{
		background-color:#ffffff;
		padding: 10px 15px 10px;
	}
#r_epa	.r_epa-step .circle-tm {
		background-color:#ffffff;
		width:783px;
	}
	#r_epa	.r_epa-step1 .circle-tm {
		background-color:#ffffff;
		width:783px;
	}
#r_epa	.r_epa-step .circle-bm{
		background-color:#ffffff;
	}
	#r_epa	.r_epa-step1 .circle-bm{
		background-color:#ffffff;
	}
#r_epa	.r_epa-all .r_epa-bm{
		width:978px;
		margin:0 auto;
		background:url(../images/circle-b-back.gif) 0 -3px repeat-x;
		height: 3px;
	}
	#r_epa	.r_epa-all .r_epa-bm .r_epa-bl{
		background:url(../images/circle-b-back.gif) left 0 no-repeat;
		height: 3px;
	}
	#r_epa	.r_epa-all .r_epa-bm .r_epa-bl .r_epa-br{
		background:url(../images/circle-b-back.gif) right -6px no-repeat;
		height: 3px;
		overflow: hidden;
	}