/* 名称:在线报名by陈晓钰
 * 开发时间：2013年1月22日11:59:01
 * 描述：在线报名表单
 */
#sign .sign-main{
	width:980px;
	margin:0 auto;
	overflow:hidden;
 }
#sign .sign-content{
	width:702px;
	margin-bottom:25px;
	float:left;
}
#sign .sign-form{
	width:702px;
	margin-top:6px;
}
#sign .cxy-table{
	font-size:14px;
	color:#737373;
	width:665px;
	height:582px;
	margin:0 auto;
}
#sign .sign-bg{
	width:100%;
}
#sign .sign-form td{
	height:45px;
}
#sign .sign-form select{
	color:#cfcfcf;
}
#sign .sign-td1{
	width:217px;
}
#sign .sign-td2{
	width:214px;
}
#sign .sign-td3{
	width:234px;
}
#sign .sign-form span{
	color:#feb68c;
}
#sign .sign-text,.sign-sel{
	height:22px;
	border:1px solid #cbcbcb;
}
#sign .sign-sel{
	width:146px;
	margin-left:-1px;
	display:inline;
}
#sign .sign-text{
	width:146px;
	margin-right:4px;
	display:inline;
	color:#cbcbcb;
}
#sign .sign-sel1{
	width:67px;
	height:22px;
}
#sign .sign-text1{
	width:70px;
	height:22px;
	border:1px solid #cbcbcb;
}
#sign .sign-cb{
	width:16px;
	height:23px;
	margin-right:10px;
	vertical-align:middle;
	display:inline;
	background:url(../images/sign-oc.gif) no-repeat;
}
#sign .sign-ta{
	width:645px;
	height:80px; 
	border:1px solid #cbcbcb;
}
#sign .sign-choice1,.sign-choice2{
	width:84px;
	height:25px;
	text-align:center;
	color:#feb68c;
	background:url(../images/online-btn.gif) no-repeat;
}
#sign .sign-form a:hover{
	text-decoration:none;
}
#sign .sign-choice1{
	margin-left:205px;
}
#sign .sign-choice2{
	margin-left:85px;
}
#sign .sign-form a:hover .sign-choice1{
	background:url(../images/online-btn1.gif) no-repeat;
	color:white;
}
#sign .sign-form a:hover .sign-choice2{
	background:url(../images/online-btn1.gif) no-repeat;
	color:white;
}
#sign .circle-con{
	background-color:#ffffff;
}
#sign .circle-bm{
	background-color:#ffffff;
}
#sign .circle-tm{
	background-color:#ffffff;
}
#sign .sign-div1{
	width:260px;
	margin-bottom:15px;
	float:right;
}
#sign .sign-div2{
	width:260px;
	margin-bottom:15px;
	float:right;
}
#sign .sign-div3{
	width:260px;
	float:right;
}

