#te_oa .te_oa-content{
	width:980px;
	margin:0 auto;
}
#te_oa .te_oa-block1{
	margin-top:5px;
}
#te_oa .te_oa-b1-word1{
	width:250px;
	font-size:16px;
	color:#fe7d32;
	margin:0 auto;
	padding-top:20px;
}
#te_oa .te_oa-b1-word2{
	width:350px;
	font-size:12px;
	color:#808080;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:12px;
}
#te_oa .te_oa-block1 p{
	font-size:14px;
	color:#535351;
	line-height:30px;
	width:910px;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:10px;
}
#te_oa .te_oa-b1-word3{
	font-size:14px;
	color:#808080;
	text-indent:40px;
	float:left;
}
#te_oa .te_oa-b1-img{
	width:911px;
	height:609px;
	margin:0 auto;
}
#te_oa .te_oa-b1-word4 a{
	width:35px;
	font-size:14px;
	color:#accd2f;
	float:right;
	text-decoration:underline;
	margin-top:7px;
}
#te_oa .te_oa-b1-img2{
	width:17px;
	height:15px;
	float:right;
	margin:13px 35px 0 5px;
}
#te_oa .te_oa-b1-word5{
	font-size:14px;
	color:#535351;
	line-height:30px;
	width:910px;
	text-indent:40px;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:10px;
}