/*头部通用*/
#th_pa .main-top{
	width:978px;
	height:27px;
	background-color:#e3e3e3;
	margin:0 auto;
}
/*内容*/
#th_pa h3.year{
	font-size:14px;
}
#th_pa p{
	font-size:13px;
}
#th_pa .circle{
	width:980px;
	margin:0 auto;
	margin-top:6px;
	margin-bottom:28px;
}
#th_pa .cuteMath{
	padding-top:16px;
	margin-left:21px;
	overflow:hidden;
	font-size:14px;
	zoom:1;
}
#th_pa .cuteMath img{
	float:left;
}
#th_pa .cuteMath h3{
	width:830px;
	float:left;
	margin:5px 0px 5px 22px;
	color:#fca775;
}
#th_pa .cuteMath span{
	float:left;
	margin-left:42px;
	color:#8b8c8c;
}
#th_pa .cuteMath .study{
	margin-left:22px;
}
#th_pa .mid-con{
	margin:16px 0px 0px 121px;
	width:838px;
	color:#6e6e6e;
}
#th_pa .proInt p{
	width:780px;
	height:69px;
	overflow:hidden;
}
#th_pa .preCom{
	margin-top:40px;
	line-height:26px;
}
#th_pa .preCom p{
	font-size:12px;
	width:838px;
	height:26px;
	overflow:hidden;
}
#th_pa .car-bg-c{
	background:url("../images/th_ca-car-bg-c.gif") 0 0 repeat-x;
}
#th_pa .car-bg-l{
	background:url("../images/th_ca-car-bg-l.gif") 0 0 no-repeat;
}
#th_pa .car-bg-r{
	background:url("../images/th_ca-car-bg-r.gif") right 0 no-repeat;
	height:506px;
}
#th_pa .proSna{
	margin-top:44px;
	position:relative;
}
#th_pa .proSna h3{
	margin-bottom:12px;
}
#th_pa .programme{
	padding-top:14px;
	/*margin-top:13px;*/
	overflow:hidden;
	/*position:relative;*/
}
#th_pa .programme img{
	float:left;
	margin-left:10px;
}
#th_pa .programme span{
	position:absolute;
	left:0px;
	top:272px;
	background:url("../images/th_ca-left.gif") 0 0 no-repeat;
	height:38px;
	width:27px;
	cursor:pointer;
}
#th_pa .programme span.right{
	position:absolute;
	left:810px;
	top:272px;
	background:url("../images/th_ca-right.gif") 0 0 no-repeat;
	height:38px;
	width:27px;
	cursor:pointer;
}
#th_pa .arcNav-r{
	width:96px;
}